<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignmentdao</servlet-name>
        <servlet-class>com.login.dao.assignmentdao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getas</servlet-name>
        <servlet-class>com.login.getas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Petitiondetails</servlet-name>
        <servlet-class>com.login.Petitiondetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>petitiondao</servlet-name>
        <servlet-class>com.login.dao.petitiondao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getpetition</servlet-name>
        <servlet-class>com.login.getpetition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchandgo</servlet-name>
        <servlet-class>com.login.fetchandgo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sumbitdetails</servlet-name>
        <servlet-class>com.login.sumbitdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitdao</servlet-name>
        <servlet-class>com.login.dao.submitdao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likesdao</servlet-name>
        <servlet-class>com.login.dao.likesdao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likedetails</servlet-name>
        <servlet-class>com.login.likedetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doubtdetails</servlet-name>
        <servlet-class>com.login.doubtdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doubtdao</servlet-name>
        <servlet-class>com.login.dao.doubtdao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getdoubt</servlet-name>
        <servlet-class>com.login.getdoubt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitdoubtdetails</servlet-name>
        <servlet-class>com.login.submitdoubtdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitdoubtdao</servlet-name>
        <servlet-class>com.login.dao.submitdoubtdao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.login.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>com.login.dao.LoginDao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignmentdao</servlet-name>
        <url-pattern>/assignmentdao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>assignmentdetails</servlet-name>
        <servlet-class>com.login.assignmentdetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>assignmentdetails</servlet-name>
        <url-pattern>/assignmentdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getas</servlet-name>
        <url-pattern>/getas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Petitiondetails</servlet-name>
        <url-pattern>/Petitiondetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>petitiondao</servlet-name>
        <url-pattern>/petitiondao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getpetition</servlet-name>
        <url-pattern>/getpetition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sumbitdetails</servlet-name>
        <url-pattern>/sumbitdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitdao</servlet-name>
        <url-pattern>/submitdao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likesdao</servlet-name>
        <url-pattern>/likesdao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likedetails</servlet-name>
        <url-pattern>/likedetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doubtdetails</servlet-name>
        <url-pattern>/doubtdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doubtdao</servlet-name>
        <url-pattern>/doubtdao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getdoubt</servlet-name>
        <url-pattern>/getdoubt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitdoubtdetails</servlet-name>
        <url-pattern>/submitdoubtdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitdoubtdao</servlet-name>
        <url-pattern>/submitdoubtdao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
